/****** MAIN ******/
body {
    font-family: 'Roboto', sans-serif;
    background: rgba(248, 240, 240, 0.521);
}

/****** HEADER ******/
.jumbotron {
    background: white;
    color: black;
}

/****** BODY ******/
.btn {
    background: black;
    color: white;
    margin-bottom: 15px;
    width: 90px;
}
.gif {
    margin: 5px;
    background: black;
    color: white;
    border: none;
    padding: 5px;
}

.img {
    width: 225px;
    height: 225px;
}

.imgDiv {
    max-width: auto;
    max-height: auto;
    padding: 10px;
}

.addGif {
    padding: 20px;
}

#gifButtons {
    width: auto;
}
